In [166]:
import os
import pandas as pd

In [167]:
current_path = os.getcwd()

In [168]:
# uploading data about all courses

design_courses   = pd.read_csv(f'{current_path}/udemy courses datasets/3.1-data-sheet-udemy-courses-design-courses.csv')

music_courses    = pd.read_csv(f'{current_path}/udemy courses datasets/3.1-data-sheet-udemy-courses-music-courses.csv')

web_courses      = pd.read_csv(f'{current_path}/udemy courses datasets/3.1-data-sheet-udemy-courses-web-development.csv')

business_courses = pd.read_csv(f'{current_path}/udemy courses datasets/3.1-data-sheet-udemy-courses-business-courses.csv')

all_courses = pd.concat([design_courses, music_courses, web_courses, business_courses])

all_courses.head()

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,348116.0,Photoshop In-Depth: Master all of Photoshop's ...,https://www.udemy.com/photoshop-tools/,0.0,53851.0,1779.0,45.0,All Levels,0.69,4.5,2014-11-30T04:22:11Z,Graphic Design
1,17349.0,Figure Drawing From Life Using The Reilly Tech...,https://www.udemy.com/figure-drawing-from-life...,0.0,47811.0,1041.0,22.0,Beginner Level,0.11,2.5,2012-05-09T18:14:57Z,Graphic Design
2,399938.0,Professional Logo Design in Adobe Illustrator,https://www.udemy.com/professional-logo-design...,0.0,44044.0,1563.0,45.0,Beginner Level,0.89,7.5,2015-01-22T11:18:06Z,Graphic Design
3,820194.0,Photoshop for Entrepreneurs - Design 11 Practi...,https://www.udemy.com/photoshop-for-entreprene...,200.0,36288.0,737.0,63.0,All Levels,0.96,5.0,2016-06-09T01:57:03Z,Graphic Design
4,249126.0,Logo Design Essentials,https://www.udemy.com/logo-design/,20.0,33205.0,481.0,12.0,Beginner Level,0.88,0.7,2014-06-30T03:09:27Z,Graphic Design

In [169]:
# getting general info about final dataset
all_courses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3681 entries, 0 to 1191
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3676 non-null   float64
 1   course_title         3676 non-null   object
 2   url                  3676 non-null   object
 3   price                3676 non-null   float64
 4   num_subscribers      3676 non-null   float64
 5   num_reviews          3676 non-null   float64
 6   num_lectures         3676 non-null   float64
 7   level                3676 non-null   object
 8   Rating               3677 non-null   float64
 9   content_duration     3676 non-null   float64
 10  published_timestamp  3676 non-null   object
 11  subject              3677 non-null   object
dtypes: float64(7), object(5)
memory usage: 373.9+ KB

In [170]:
# checking null values
all_courses[all_courses['course_id'].isnull()]

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Subject: Web Development
1191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.690353,NaN,NaN,NaN

In [171]:
# deleting empty values from dataset
all_courses = all_courses[~all_courses['course_id'].isnull()]
all_courses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3676 entries, 0 to 1190
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3676 non-null   float64
 1   course_title         3676 non-null   object
 2   url                  3676 non-null   object
 3   price                3676 non-null   float64
 4   num_subscribers      3676 non-null   float64
 5   num_reviews          3676 non-null   float64
 6   num_lectures         3676 non-null   float64
 7   level                3676 non-null   object
 8   Rating               3676 non-null   float64
 9   content_duration     3676 non-null   float64
 10  published_timestamp  3676 non-null   object
 11  subject              3676 non-null   object
dtypes: float64(7), object(5)
memory usage: 373.3+ KB

In [172]:
# all columns have correct dtypes except of 'published_timestamp' - let's change it
all_courses['published_timestamp'] = pd.to_datetime(all_courses['published_timestamp'])

all_courses['published_timestamp'].dtypes

datetime64[ns, UTC]

In [173]:
# to make a dataset more representative only last 4 years will be taken: 2014, 2015, 2016 and 2017
all_courses['published_timestamp'].dt.to_period('Y').value_counts()

/Users/macbook/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/datetimes.py:1162: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

2016    1205
2015    1014
2017     714
2014     492
2013     201
2012      45
2011       5
Freq: A-DEC, Name: published_timestamp, dtype: int64

In [174]:
all_courses = all_courses[all_courses['published_timestamp'].dt.year >= 2014]

In [175]:
# also we do not need the exact time of a course creation

all_courses['published_date']  = all_courses['published_timestamp'].dt.to_period('d').dt.to_timestamp()
all_courses['published_month'] = all_courses['published_timestamp'].dt.to_period('M').dt.to_timestamp()
all_courses[['published_timestamp', 'published_date', 'published_month']].head(3)

/Users/macbook/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/datetimes.py:1162: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(
/Users/macbook/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/datetimes.py:1162: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

        published_timestamp published_date published_month
0 2014-11-30 04:22:11+00:00     2014-11-30      2014-11-01
2 2015-01-22 11:18:06+00:00     2015-01-22      2015-01-01
3 2016-06-09 01:57:03+00:00     2016-06-09      2016-06-01

In [176]:
def create_is_free_column(row):
    if row['price'] != 0.0:
        return 'paid'
    else:
        return 'free'

all_courses['is_free'] = all_courses.apply(create_is_free_column, axis=1)
all_courses[['price', 'is_free']].head(5)

   price is_free
0    0.0    free
2    0.0    free
3  200.0    paid
4   20.0    paid
5  150.0    paid

In [177]:
all_courses['revenue'] = all_courses['price'] * all_courses['num_subscribers']
all_courses[['price', 'num_subscribers', 'revenue']].head()

   price  num_subscribers    revenue
0    0.0          53851.0        0.0
2    0.0          44044.0        0.0
3  200.0          36288.0  7257600.0
4   20.0          33205.0   664100.0
5  150.0          26742.0  4011300.0

In [178]:
quantiles = pd.DataFrame(all_courses['num_subscribers'].quantile(q=[.25, .5, .75]),
                         columns=['num_subscribers'])

quantiles.loc[.25][0]

104.0

In [179]:
# adding categorical column about number of subscribers

def create_popularity_column(row, quantiles):
    if row['num_subscribers'] <= quantiles.loc[.25][0]:
        return 'lowest'
    elif row['num_subscribers'] <= quantiles.loc[.5][0]:
        return 'low'
    elif row['num_subscribers'] <= quantiles.loc[.75][0]:
        return 'medium'
    else:
        return 'highest'


quantiles = pd.DataFrame(all_courses['num_subscribers'].quantile(q=[.25, .5, .75]),
                         columns=['num_subscribers'])

all_courses['popularity'] = all_courses.apply(create_popularity_column, quantiles=quantiles, axis=1)


print(quantiles)
print()
print(all_courses[['num_subscribers', 'popularity']].head())

      num_subscribers
0.25            104.0
0.50            885.0
0.75           2409.0

   num_subscribers popularity
0          53851.0    highest
2          44044.0    highest
3          36288.0    highest
4          33205.0    highest
5          26742.0    highest

In [180]:
# moreover the incorrect values were noticed in subject column

print('Before:')
print(all_courses['subject'].unique())
print()

all_courses['subject'] = all_courses['subject'].str.replace('Subject: ', '')
print('After:')
print(all_courses['subject'].unique())

Before:
['Graphic Design' 'Musical Instruments' 'Subject: Web Development'
 'Business Finance']

After:
['Graphic Design' 'Musical Instruments' 'Web Development'
 'Business Finance']

In [181]:
# duplicates dropping

print(f'before: {all_courses.shape[0]}')

duplicates = all_courses[all_courses['course_id'].duplicated()].shape[0]

print(f'duplicates: {duplicates}')

all_courses = all_courses.sort_values('published_date').drop_duplicates('course_id')

print(f'after: {all_courses.shape}')

before: 3425
duplicates: 4
after: (3421, 17)

In [182]:
# this final data is vizualized in Power BI 
uploading_folder = current_path + '/final datasets'

all_courses.to_csv(f'{uploading_folder}/all_courses_data.csv', index=False)

In [183]:
# as an additional improvement let's count frequency for every word in 'course_title'
# column for creating tag columns after in a dashboard

# words that are popular in subtitles, but are useless for our goals
ban_list = ['to', 'for', 'the', 'a', 'and', 'in', 'with', 'of', 'by', 'on']

# deleting all whitespaces or punctuation
modified_titles = all_courses['course_title'].str.lower().str.replace('[^\w\s]', '')

words_frequencies = modified_titles.str.split(expand=True).stack().value_counts().reset_index()
words_frequencies.columns = ['word', 'frequency']
words_frequencies = words_frequencies[~words_frequencies['word'].isin(ban_list)]
words_frequencies.head()

/var/folders/jb/gdn4lw2s6ldf0y7k7mcj2q440000gn/T/ipykernel_89078/1309563845.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  modified_titles = all_courses['course_title'].str.lower().str.replace('[^\w\s]', '')

         word  frequency
3       learn        479
8     trading        302
9   beginners        279
10        how        253
11     course        229

In [184]:
words_frequencies.to_csv(f'{uploading_folder}/words_frequencies.csv', index=False)

In [185]:
# and let's get these words frequencies for every subject

for subject in all_courses['subject'].unique():
    modified_titles = all_courses \
                            .query(f"subject == \'{subject}\'") \
                            ['course_title'].str.lower().str.replace('[^\w\s]', '')

    words_frequencies = modified_titles.str.split(expand=True).stack().value_counts().reset_index()
    words_frequencies.columns = ['word', 'frequency']
    file_name = subject.lower().replace(' ', '_')
    words_frequencies = words_frequencies[~words_frequencies['word'].isin(ban_list)]
    words_frequencies.to_csv(f'{uploading_folder}/{file_name}_words_freq.csv', index=False)

    print(f'{file_name} examples:')
    print(words_frequencies.head(3))
    print()

business_finance examples:
        word  frequency
0    trading        302
3      forex        166
5  financial        130

web_development examples:
        word  frequency
1      learn        200
6        web        190
7  beginners        143

graphic_design examples:
        word  frequency
0  photoshop        169
1     design        162
4      adobe         97

musical_instruments examples:
     word  frequency
0  guitar        187
1   piano        176
4    play        147

/var/folders/jb/gdn4lw2s6ldf0y7k7mcj2q440000gn/T/ipykernel_89078/1003869326.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  modified_titles = all_courses \
/var/folders/jb/gdn4lw2s6ldf0y7k7mcj2q440000gn/T/ipykernel_89078/1003869326.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  modified_titles = all_courses \
/var/folders/jb/gdn4lw2s6ldf0y7k7mcj2q440000gn/T/ipykernel_89078/1003869326.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  modified_titles = all_courses \
/var/folders/jb/gdn4lw2s6ldf0y7k7mcj2q440000gn/T/ipykernel_89078/1003869326.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  modified_titles = all_courses \